<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    #left {
      background-color: #f00;
      float: left;
      width: 100px;
      height: 500px;
    }

    #right {
      background-color: #0f0;
      overflow: hidden;
      height: 600px;
    }
  </style>
</head>

<body>

  <body>
    <div id="left">左列定宽</div>
    <div id="right">右列自适应</div>
  </body>
</body>

</html>